<h1>{{ page_title }}</h1>
<hr>
{% for post in posts %}
<div class="jumbotron mt-1" id="post_list_content" >
	{% if user.is_authenticated and post.author == request.user %}
		<div class="btn-group float-right" role="group" aria-label="Basic example">
			<button type="button" class="btn btn-secondary btn-warning show-post-update-modal" data-url="{% url 'post_edit' post.pk %}">Edit</button>
			<button type="button" class="btn btn-secondary btn-danger show-post-delete-modal" data-url="{% url 'post_delete' post.pk %}">Delete</button>
			{% if not post.published_date %}
				<button type="button" class="btn btn-secondary btn-dark show-post-publish-modal" data-url="{% url 'post_publish' post.pk %}">Publish</button>
			{% endif %}
		</div>
	{% endif %}
	<small class="text-muted">Date Created: {{ post.created_date }}</small>
	<h1><a class="text-dark show-post-detail-modal" href="#" data-url="{% url 'post_detail' post.pk %}" data-url2="{% url 'comment_new' post.pk %}">{{ post.title }}</a></h1>
	<p>{{ post.text }}</p>
</div>
{% endfor %}